* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;

}

body {
    background: #FFFEFA;
}

/* =========hero section============ */
.hero {
    padding-top: 80px;
    background-image: url(../img/Hero-bg.png);
    background-position: center;
    background-size: 500px;

}

.container {
    width: 87.5%;
    margin: 0 auto;

}

.container_section {
    width: 88.5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 45px;
    line-height: 1.3;
    font-weight: bold;
    color: #111;
}

.hero-text h1 span {
    color: #7b2ff7;
    /* highlight purple */
}

.hero-text p {
    margin-top: 15px;
    color: #666;
    font-size: 16px;

}

.buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 28px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background: #7b2ff7;
    color: #fff;
}

.btn-primary:hover {
    background: #661bd5;
}

.btn-outline {
    border: 1px solid #555;
    color: #555;
}

.btn-outline:hover {
    background: #f3f3f3;
}

.hero-img {
    flex: 1;
    align-items: center;
    justify-content: center;

}

.hero-img img {
    width: 480px;
    vertical-align: middle;


}

/* skills section */
.skills {
    width: 100%;
    padding-top: 70px;
    text-align: center;
    background: #FFFEFA;
}

.header_title {
    color: #8b5cf6;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.main_title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #111;
}

.skills-grid {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    flex-wrap: wrap;
    gap: 40px;
}

.skill-card {
    width: 320px;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.12);
}

.skill-card img {
    max-width: 50%;
    margin-bottom: 18px;
}

.skill-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #222;
}

.skill-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 18px;
}

.skill-link {
    color: #8b5cf6;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.skill-link:hover {
    text-decoration: underline;
}

/* project section */
.project {
    width: 100%;
    padding-top: 70px;
    text-align: center;
    background: #FFFEFA;
}

.header_title {
    color: #8b5cf6;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.main_title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #111;
}


.project-card {
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 28px;
    border-radius: 18px;
    border: 2px solid #a855f7;
    display: flex;
    gap: 35px;
    background: #FFFEFA;
    align-items: start;
    transition: 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
}

.project-img img {
    width: 340px;
    border-radius: 12px;
    object-fit: cover;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;

}

.project-content h2 {
    font-size: 28px;
    font-weight: 700;
    color: #222;
}

.project-content h4 {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
}

.project-content p {
    margin: 15px 0 22px;
    font-size: 15px;
    line-height: 1.6;
    color: #555;
    text-align: left;

}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(45deg, #9333ea, #7c3aed, #6d28d9);
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

/* brands section */

.brands {

    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
    background: #FFFEFA;
}

.header_title {
    color: #8b5cf6;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.main_title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #111;
}

.brands-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.brand-card {
    background: #fff;
    border-radius: 16px;
    padding: 25px 40px;
    border: solid 1px #4141413d;
    transition: all 0.3s ease;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.brand-logo {
    max-width: 240px;
    height: auto;
    filter: brightness(1.1);
}

.btn {
    background: linear-gradient(135deg, #8b5cf6, #a78bfa);
    color: white;
    border: none;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(139, 92, 246, 0.3);

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(139, 92, 246, 0.4);
}

/* footer */
.footer-section {
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}

.container_section {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.link_container {
    display: flex;
    gap: 20px;
}

.link_container i {
    font-size: 20px;
    cursor: pointer;
}